@import "./reset.scss";

// ### Primary

// - Soft Cyan (Full Slider Bar): hsl(174, 77%, 80%)
// - Strong Cyan (Slider Background): hsl(174, 86%, 45%)
// - Light Grayish Red (Discount Background): hsl(14, 92%, 95%)
// - Light Red (Discount Text): hsl(15, 100%, 70%)
// - Pale Blue (CTA Text): hsl(226, 100%, 87%)

// ### Neutral

// - White (Pricing Component Background): hsl (0, 0%, 100%)
// - Very Pale Blue (Main Background): hsl(230, 100%, 99%)
// - Light Grayish Blue (Empty Slider Bar): hsl(224, 65%, 95%)
// - Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%)
// - Grayish Blue (Text): hsl(225, 20%, 60%)
// - Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%)

$primary: #293356;
$secondary: #848EAD;
$light-grey: #CFD8EF;
$green: #10D8C4;
$light-green: #A4F3EB;
$orange: #FF8D68;
$light-orange: #FEEDE8;
$light-blue: #BECDFF;

html, body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  font-family: "Manrope", sans-serif;
  color: $secondary;
}

header {
  padding-block: 38px;
  text-align: center;
  background-image: url(./images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  h1 {
    font-size: 28px;
    font-weight: 800;
    color: $primary;
  }
  p {
    font-size: 15px;
    margin-top: 12px;
  }
}

main {
  width: 540px;
  margin-top: 54px;
  border-radius: 8px;
  box-shadow: 0px 20px 30px -5px hsl(230, 29%, 61%, 15.21%);
  background-color: #FFFFFF;
}

.section-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 40px 48px;
  border-bottom: 1px solid $light-grey;
  
  .price-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .pageviews {
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
    }
    .price-per-month {
      font-size: 16px;
      font-weight: 600;
      span {
        font-size: 40px;
        font-weight: 800;
        letter-spacing: -1px;
        color: $primary;
      }
    }
  }

  input {
    width: 100%;
    margin-block: 24px 40px;
  }

  .toggle-container {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 350;
    margin-right: 8px;
    .toggle {
      display: block;
      width: 43px;
      height: 22px;
      // padding: 4px;
      position: relative;
      margin-inline: 16px;
    }
    input.billing-toggle {
      opacity: none;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 15px;
      background-color: $light-grey;
    }
    .slider::after {
      content: "";
      width: 14px;
      height: 14px;
      top: 4px;
      left: 4px;
      border-radius: 50%;
      background-color: #FFFFFF;
      position: absolute;
      left: 4px;
    }
    input.billing-toggle:checked + .slider::after {
      // transform: translateX(14px);
      left: initial;
      right: 4px;
    }
    .discount-badge {
      background-color: $light-orange;
      color: $orange;
      padding: 2px 6px;
      margin-inline: 9px;
      border-radius: 9.5px;
      font-size: 10px;
      font-weight: 800;
    }
  }
}



.section-info {
  padding: 32px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .info-list {
    font-size: 12px;
    font-weight: 350;
    li {
      margin-block: 10px;
    }
    img {
      margin-right: 16px;
    }
  }

  .trial-btn {
    background-color: $primary;
    color: $light-blue;
    border-radius: 20.5px;
    padding: 12px 46px;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-weight: 800;
  }
}

footer {
  margin-top: 24px;
  font-size: 12px;
  text-align: center;
}